name: ci

on:
  push:
    branches: [main]
  pull_request:

jobs:
  rust-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust fmt
        run: cargo fmt --all --check
